body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
h1 {
  font-weight: 700;
}
h2,
h3 {
  font-weight: 600;
  text-align: center;
}
.container {
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.header {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  max-width: 1440px;
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 3;
  background: #ffffff;
}
.header .logo {
  height: 48px;
}
.header .menu {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-items: center;
  gap: 2vw;
  list-style: none;
  padding-right: 10px;
  font-weight: 400;
  font-size: clamp(14px, 2vw, 20px);
}
.header .menu a {
  text-decoration: none;
  color: #000000;
}
.header .menu a:hover {
  color: #8d8d8d;
}
.content {
  padding: 48px 10px 0 10px;
}
.content .section-title {
  font-weight: 700;
  font-size: clamp(24px, 4vw, 48px);
  margin: 0;
}
.content .about {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.content .about .section-content {
  display: flex;
  gap: 5%;
  align-items: center;
}
.content .about .section-content .text {
  flex: 1 1;
  font-size: clamp(8px, 2vw, 32px);
  line-height: clamp(20px, 4vw, 64px);
}
.content .about .section-content .image {
  flex: 1 1;
}
.content .about .section-content .image img {
  width: 100%;
  height: auto;
}
.content .ar .section-content {
  align-items: center;
}
.content .ar .section-content .subsection {
  display: flex;
}
.content .ar .section-content > .subsection:first-child .image {
  transform: scale(-1, 1);
  flex: 1 1;
}
.content .ar .section-content > .subsection:first-child .image img {
  width: 100%;
  height: auto;
}
.content .ar .section-content > .subsection:first-child .text {
  flex: 1 1;
  font-size: clamp(8px, 2vw, 32px);
  line-height: clamp(20px, 4vw, 64px);
}
.content .ar .section-content > .subsection:nth-child(2) {
  flex-direction: column;
  gap: 2vh;
}
.content .ar .section-content > .subsection:nth-child(2) .subtitle {
  margin: 0;
  margin-bottom: 4vh;
  font-size: clamp(16px, 4vw, 40px);
  font-weight: 600;
  text-align: center;
}
.content .ar .section-content > .subsection:nth-child(2) .owl-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.content .ar .section-content > .subsection:nth-child(2) .owl-carousel .carousel-item {
  position: relative;
  height: 100%;
  width: 100%;
}
.content .ar .section-content > .subsection:nth-child(2) .owl-carousel .carousel-item .image {
  display: block;
  width: 100%;
}
.content .ar .section-content > .subsection:nth-child(2) .owl-carousel .carousel-item .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 2vw;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 2vw;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  opacity: 0;
  transition: opacity 0.25s;
  backdrop-filter: blur(5px);
}
.content .ar .section-content > .subsection:nth-child(2) .owl-carousel .carousel-item .image-overlay .overlay-title {
  text-align: center;
  font-size: clamp(10px, 2vw, 40px);
}
.content .ar .section-content > .subsection:nth-child(2) .owl-carousel .carousel-item .image-overlay .overlay-text {
  font-size: clamp(10px, 2vw, 32px);
  line-height: clamp(20px, 4vw, 64px);
  text-align: justify;
}
.content .ar .section-content > .subsection:nth-child(2) .owl-carousel .carousel-item .image-overlay:hover {
  opacity: 1;
}
.content .ar .section-content > .subsection:nth-child(2) .owl-carousel .carousel-item .image-overlay > * {
  margin: 0;
  transform: translateY(20px);
  transition: transform 0.25s;
}
.content .ar .section-content > .subsection:nth-child(2) .owl-carousel .carousel-item .image-overlay:hover > * {
  transform: translateY(0);
}
.content .ar .section-content > .subsection:nth-child(2) .owl-carousel .owl-dots {
  display: flex;
  justify-content: center;
}
.content .ar .section-content > .subsection:nth-child(2) .owl-carousel .owl-dots .owl-dot {
  margin: calc(clamp(10px, 4vw, 32px)/2);
}
.content .ar .section-content > .subsection:nth-child(2) .owl-carousel .owl-dots .owl-dot span {
  display: flex;
  width: clamp(10px, 4vw, 32px);
  height: clamp(10px, 4vw, 32px);
  border-radius: 50%;
  background: #d6d6d6;
}
.content .ar .section-content > .subsection:nth-child(2) .owl-carousel .owl-dots .owl-dot span:hover {
  background: #869791;
}
.content .ar .section-content > .subsection:nth-child(2) .owl-carousel .owl-dots .active {
  box-shadow: none;
}
.content .ar .section-content > .subsection:nth-child(2) .owl-carousel .owl-dots .active span {
  background: #869791;
  box-shadow: none;
}
.content .sdk {
  /*.sdk-items*/
}
.content .sdk .section-title {
  margin-bottom: 4vh;
}
.content .sdk .section-content {
  display: flex;
  gap: 5%;
  text-align: justify;
  font-size: clamp(8px, 2vw, 32px);
  line-height: clamp(20px, 4vw, 64px);
}
.content .sdk .section-content .item {
  flex: 1 1;
}
.content .sdk img {
  width: 100%;
  height: auto;
  /*   vertical-align: middle; */
}
.content .projecttimeline .section-content {
  padding: 2vh 0 2vh 0;
}
.content .projecttimeline .timeline {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.content .projecttimeline .timeline .item {
  width: 100%;
}
.content .projecttimeline .timeline .item .dot {
  position: absolute;
  left: calc(50% - 10px);
  height: 20px;
  width: 20px;
  background-color: #dadada;
  border-radius: 50%;
}
.content .projecttimeline .timeline .item .card {
  position: relative;
  background-color: #dadada;
  padding: 2vw;
  border-radius: 10px;
  text-align: left;
}
.content .projecttimeline .timeline .item .card .card-title {
  font-size: clamp(10px, 4vw, 32px);
}
.content .projecttimeline .timeline .item .card .card-date {
  margin: 0;
  font-size: clamp(8px, 4vw, 20px);
}
.content .projecttimeline .timeline .item .card .card-text {
  font-size: clamp(4px, 4vw, 16px);
  line-height: clamp(8px, 12vw, 32px);
}
.content .projecttimeline .timeline .item .card > ul {
  list-style-type: decimal;
  padding: 0;
  margin: 0 0 0 20px;
}
.content .projecttimeline .timeline .item .card > p {
  margin: 0;
}
.content .projecttimeline .timeline .item .card > *:not(p, :last-child) {
  margin-bottom: 2vh;
}
.content .projecttimeline .timeline .item .card:hover {
  background: #b3b3b3;
}
.content .projecttimeline .timeline .item:nth-child(odd) {
  padding-right: calc(50% + 32px);
}
.content .projecttimeline .timeline .item:nth-child(even) {
  padding-left: calc(50% + 32px);
}
.content .projecttimeline .timeline .item:not(:last-child) {
  margin-bottom: 2vh;
}
.content .projecttimeline .timeline::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #dadada;
  left: calc(50% - 1px);
}
@media (max-width: 960px) {
  .content .section .section-title {
    text-align: center;
  }
  .content .section .section-title h1 {
    margin: 0;
  }
  .content .section .subtitle {
    font-size: clamp(16px, 4vw, 30px);
  }
}
@media (max-width: 768px) {
  .content .projecttimeline .timeline .item .dot {
    left: 0;
  }
  .content .projecttimeline .timeline .item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .content .projecttimeline .timeline .item:nth-child(odd),
  .content .projecttimeline .timeline .item:nth-child(even) {
    padding-left: 39px;
  }
  .content .projecttimeline .timeline::before {
    left: 9px;
  }
}
@media (max-width: 480px) {
  .content .section-title {
    text-align: center;
    font-size: clamp(16px, 8vw, 24px);
  }
  .content .text {
    line-height: clamp(32px, 4vw, 64px);
  }
  .content .about {
    gap: 2vh;
  }
  .content .about .section-content {
    flex-direction: column-reverse;
  }
  .content .about .section-content .text {
    font-size: clamp(12px, 4vw, 32px);
    line-height: clamp(32px, 4vw, 64px);
  }
  .content .ar .section-content {
    flex-direction: column;
  }
  .content .ar .section-content > .subsection:first-child {
    flex-direction: column;
  }
  .content .ar .section-content > .subsection:first-child .text {
    font-size: clamp(12px, 4vw, 32px);
    line-height: clamp(32px, 4vw, 64px);
  }
  .content .sdk .section-content {
    flex-direction: column;
  }
  .content .sdk .section-content .text {
    font-size: clamp(12px, 4vw, 32px);
    line-height: clamp(32px, 4vw, 64px);
  }
}
@media (max-width: 960px) {
  .header .menu {
    background: #ffffff;
    padding-right: 0;
    position: fixed;
    top: 64px;
    left: 0;
    width: 100vw;
    height: 0;
    transition: height 0.3s ease-out;
    gap: 0;
    flex-flow: column;
    width: 100%;
    align-items: center;
    text-align: center;
    top: 48px;
    flex-direction: column;
  }
  .header .menu .item {
    display: flex;
    align-items: center;
    height: 48px;
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }
  .header .menu.-on {
    height: 192px;
  }
  .header .menu.-on > .item {
    opacity: 1;
  }
  .header .toggle {
    display: block;
  }
}
.toggle {
  outline: none;
  border: 0;
  display: none;
  background-color: transparent;
  background-image: none;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
}
.toggle > .icon {
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
}
.toggle > .icon,
.toggle > .icon:before,
.toggle > .icon:after {
  display: block;
  width: 24px;
  height: 3px;
  transition: background-color 0.3s linear, transform 0.3s linear;
  background-color: #555555;
}
.toggle > .icon:before,
.toggle > .icon:after {
  position: absolute;
  content: "";
}
.toggle > .icon:before {
  top: -8px;
}
.toggle > .icon:after {
  top: 8px;
}
.toggle.-active > .icon {
  background-color: transparent;
}
.toggle.-active > .icon:before {
  transform: translateY(8px) rotate(45deg);
}
.toggle.-active > .icon:after {
  transform: translateY(-8px) rotate(-45deg);
}
